# Python virtual environment
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environment variables
.env
.env.local

# Distribution / packaging
*.egg-info/
dist/
build/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/
